.top_banner{
    height: 450px;
    overflow: hidden;
    margin-bottom: 100px;
}
.top_banner img{
    width: 100%;
    height: 445px;
    object-fit:cover
}
.banner_title{
    color: yellow;
}
@media screen and (max-width:768px) {
    .loginRoute{
        margin-left: -17px;
    }
}